body {
  margin: 0px;
  background: #afceff;
}

/* NAVBAR STYLES */
nav {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  display: block;
  font-family: "Courier New", "Times New Roman";
  background-color: white;
}

nav img{
  height: 58px;
  width: 70px;
}

nav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}

nav a{
  text-decoration: none;
  text-align: center;
  padding: 14px 50px;
  color: #4c8ef7;
  display: block;
  font-size: 25px;
}

nav a:hover{
  color: #004ef7;
  font-weight: bolder;
}
/* ENDING NAVBAR STYLES*/

/* INTRODUCTION STYLES */
@font-face {
  font-family: UbuntuCondensed;
  src: url("../fonts/UbuntuCondensed.ttf");
}

@font-face {
  font-family: Hind;
  src: url("../fonts/Hind.ttf");
}

.intro {
  margin: 40px;
  background-color: white;
  padding: 20px 20px 30px 20px;
  display: flex;
  display: block;
  justify-content: center;
}

.intro h1{
  font-family: Hind , sans-serif;
  color: #636B96;
  font-size: 50px;
  margin: 0px;
}

.intro p{
  font-family: UbuntuCondensed;
  font-size: 20px;
  color: #636B96;
  margin: 0px;
  padding: 0px 0px 30px 0px;
}

.comingSoon {
  text-decoration: none;
  font-size: 20px;
  font-family: fantasy;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #636B96;
  padding: 10px;
  border: 0px 0px 50px 0px;
}

.comingSoon:hover {
  background-color: #2c245b;
}

.home {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
  width: 100%;
}

footer{
  background-color: white;
  bottom: 0;
}

footer h1 {
  margin: 0;
  border: 0;
  padding: 20px;
}

.repoList {
  margin: 40px;
  background-color: white;
  padding: 20px 20px 30px 20px;
  display: flex;
  display: block;
}

.repoList ul{
  list-style-type: none;
  padding: 0px;
  flex-wrap: wrap;
  display: flex;
}

.repoList a {
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color: #636B96;
  display: block;
  font-size: 17px;
  background-color: #afceff;
  margin: 10px;
}

.repoList h1{
  color: #636B96
}

.repoList a:hover{
  color: #004ef7;
  font-weight: bolder;
}

/*Media Querries*/
@media screen and (min-width: 900px){
  nav ul{
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
  }

  .repoList{
    display: flex;
  }

  nav img{
    display: block;
  }

  nav{
    justify-content: center;
    margin-top: 100px;
  }

  .sticky {
    position: sticky;
    top: 0;
    /*z-index: 100;*/
  }
}

@media screen and (max-width: 900px){
  nav li.logo{
    display: none;
    padding: 0px;
  }

  .intro h1{
    font-size: 30px;
  }

  .intro{
    margin:20px;
  }

  .repoList h1{
    font-size: 25px;
  }

  .repoList a {
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    color: #636B96;
    display: block;
    font-size: 14px;
    background-color: #afceff;
    margin: 5px;
  }
}
